img{
  height: 500px !important;
}
.app
{
  background-color: rgba(75, 75, 95, 0.34);
  /* background-image: url('https://img.freepik.com/free-photo/gray-grunge-surface-wall-texture-background_1017-18216.jpg?w=2000'); */
  opacity: 0.8;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
